.landing-page{
    width: 99.8%;
}
.landing-page-container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-size: cover;
    background-position: center;

}
.landing-page-info{
    width: 60vw;
    height: 300px;
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    text-align: center;


}
.landing-page-button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    background-color: #ef5466;
    border: 1px solid #ef5466;
    outline: none;

}
.landing-page-button a{
    color: #fff;
    font-size: 14px;

}