.header-div{
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    display: flex;
    align-items: center;
   

}
.search-mobile-input{
    display: none;
}
.user-image{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    right: 0px;
    position: absolute;
    margin-right: 60px;
    line-height: 56px;
}
.side-bar-div{
    width: 80%;
    margin: 0 auto;
}
.user-toggle-menu{
    position: absolute;
    width: 160px;
    height: 30px;
    padding: 20px;
    top: 60px;
    right: 0px;
    z-index: 5;
    text-align: left;
    background-color: #111;
    color: #eaeaea;
    border: 1px solid #111;
    
}

.user-toggle-menu div{
    width: 100%;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    
}

@media screen and (max-width: 800px){
    .header-div{
        border-bottom: none;
        display: flex;
       
    
    }
    .search-mobile-input{
        display: block;
        width: 70%;
        height: 100%;
        padding: 15px;
        border: none;
        outline: none;
    }
    .user-image{
        right: 0px;
        position: absolute;
        margin-right: 20px;
        outline: none;
    }

}