.music-div{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;

}
.music-container{
    display: flex;
    align-items: center;
    width: 100%;

}
.music-image{
    width: 200px;
    height: 200px;
    margin-right: 30px;
    background-size: cover;
    background-position: center;
}
.music-name{
    width: 30%;
    text-align: center;
}