.music-div{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;

}
.music-container{
    display: flex;
    align-items: center;
    width: 100%;

}
.music-image{
    width: 200px;
    height: 200px;
    margin-right: 30px;
    background-size: cover;
    background-position: center;
}
.music-name{
    width: 30%;
    text-align: center;
}


@media screen and (max-width: 800px){
    .music-container{
        width: 96%;
        margin: 0 auto;
    
    }

    .music-image{
        display: none;
    }
    audio{
        width: 240px;
        height: 34px;
        right: 3px;
        position: absolute;
    }
    .music-name{
        width: 45%;
        text-align: left;
        margin-left: 6px;
    }

    
    
    
}