.songs-display-sidebar{
    width: 80%;
    right: 0;
    position: absolute;
}
.songs-display-asidebar-container{
    width: 90%;
    margin: 0 auto;
}
.songs-display-header{
    width: 100%;
    height: 50px;
    display: flex;
    border: 1px solid #eaeaea;

}
.songs-display-header p a{
    color: #101011;
    padding-bottom: 16px;
    margin: 0 40px;

    
}
.song{
    display: flex;
    border: 1px solid #eaeaea;
    align-items: center;
}
.singers-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.singers{
    display: flex;
    flex-flow: column;
}
.singers-image{
    border: 1px solid red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media screen and (max-width: 800px){
    .songs-display-sidebar{
        width: 100%
    }
    .singers-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .singers-image{
        border: 1px solid red;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}